---
import SpringBoot from './icons/SpringBoot.astro'
import Java from './icons/Java.astro'
import Angular from './icons/Angular.astro'
import TypeScript from './icons/TypeScript.astro'
import Mysql from './icons/MySQL.astro'

const TAGS = {
    SPRING: {
        name: "SpringBoot",
        class: "bg-black text-white",
        icon: SpringBoot,
    },
    JAVA: {
        name: 'Java',
        class: 'bg-black text-white',
        icon: Java,
    },
    ANGULAR: {
        name: 'Angular',
        class: 'bg-black text-white',
        icon: Angular,
    },
    TYPESCRIPT: {
        name: 'TypeScript',
        class: 'bg-black text-white',
        icon: TypeScript,
    },
    MYSQL: {
        name: 'Mysql',
        class: 'bg-black text-white',
        icon: Mysql,
    }
};

const PROJECTS = [
    {
        title: "FlexPal",
        description:
            "Es una aplicación full stack diseñada para facilitar el alquiler de espacios para eventos. Implementa una base de datos y utiliza Swagger para documentar y probar los endpoints de su API. La aplicación cuenta con un sistema de autenticación seguro para el inicio de sesión. Además, utiliza APIs para llenar y actualizar dinámicamente la información dentro de la aplicación, ofreciendo una experiencia de usuario fluida.",
        link: "https://flexpal.netlify.app/",
        github: "https://github.com/orgs/ProjectDev26/repositories",
        image: "/svgl.webp",
        tags: [TAGS.SPRING, TAGS.ANGULAR, TAGS.MYSQL, TAGS.JAVA, TAGS.TYPESCRIPT],
    },
];
---

{
    PROJECTS.map(({ image, title, description, tags, link }) => (
        <article>
            <a href={link} target="_blank">
                <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            </a>
            <a href={link} target="_blank">
                <p class="text-lg mb-4 text-pretty">{description}</p>
            </a>
            <ul class="flex gap-x-2 flex-row mb-6">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4"></tag.icon>
                            {tag.name}                            
                        </span>
                    </li>
                ))}
            </ul>
            <a href={link} target="_blank">
                <img
                class="rounded shadow-2xl shadow-white/10"
                src={image}
                alt={title}
            />
            </a>
        </article>
    ))
}
